 h1 {
  color: #048998;
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 0rem;
}

 button {
  text-align: center;
  background-color: #048998;
  border: 1px solid #048998;/*#048998;*/
  border-radius: 4px;
  box-shadow: 10px 5px 5px #c4dce0;
  color: #f6f5f5;
  transition: all 200ms ease-in-out;
}

 button:hover {
  color: #fff;
  cursor: pointer;
  opacity: 0.8;
}

 .card {
  margin: 0 auto;
  width: 60%;
  height: fit-content;
}

 .card-header {
  background-color: #abcecf;
  font-family: "Cinzel", serif;
}

 .card-body {
  background-color: #f3f6f6;/*#daf4f5;*/
  color: #048998;
  font-family: "Domine", serif;
  font-weight: 500;
}


 .card-body .col-right,
 .card-body .col-left {
  margin-top: 30px;
  text-align: center;
}
.search form {
  display: inline;
}

.search #city-input {
  border: 1px solid #50979f;
  border-radius: 4px;
  width: 60%;
}

.search #city-input:focus {
  color: #71999d;
  outline: none;
}

.search #search-btn,
.search #cur-loc-btn {
  width: 50px;
}

@media (max-width:540px) {

  .search #search-btn,
  .search #cur-loc-btn {
    width: 40px;
  }
}
.col-right,
.col-left {
  margin-top: 30px;
  text-align: center;
}

.cur-city-title {
  font-family: "Cinzel", serif;
  font-size: 40px;
  margin-bottom: 25px;
  text-align: center;
}

.cur-date {
  font-size: 15px;
}

.cur-temperature {
  font-size: 60px;
  padding-top: 20px;
  padding-bottom: 0;
  margin-left: 20px;
}

.cur-feels-like-title,
.wind-title {
  font-size: 15px;
  padding-top: 0;
}

/* .unit {
  margin-bottom: 0px;
  position: relative;
  font-size: 35px;
  top: -20px;
} */
@media (max-width: 992px) {
   h1 {
    font-size: 36px;
  }

   .card {
    width: 100%;
  }

   .search #search-btn,
   .search #cur-loc-btn {
    width: 40px;
  }
}
